<div id="pagination" class="row container">
    <div class="col-xs-4 pagination-prev">
      {% if include.paginator.previous_page %}
        <a href="{{ include.paginator.previous_page_path }}" class="pagination-link">Previous</a>
      {% else %}
        <span class="pagination-link-disabled">Previous</span>
      {% endif %}`
    </div>
    <div class="col-xs-4 pagination-page">
      <span class="page_number">Page: {{ include.paginator.page }} of {{ include.paginator.total_pages }}</span>
    </div>
    <div class="col-xs-4 pagination-next">
      {% if include.paginator.next_page %}
        <a href="{{ include.paginator.next_page_path }}" class="next pagination-link">Next</a>
      {% else %}
        <span class="next pagination-link-disabled">Next</span>
      {% endif %}
    </div>
</div>