<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body vocab="http://schema.org/" typeof="WebPage">
    <div id="page" class="hfeed site {% if page.dynamic_background == true %}page-dynamic{% endif %}">
        <div class="wrap">
          {% if page.dynamic_background == true %}
          <canvas id="particle-canvas" class="canvas-background"></canvas>
          {% endif %}
          {% include header.html %}
          <div id="primary" class="site-content content-area {{ include.primary_class }}">
            <div id="main" class="site-main {{ include.main_class }}" role="main">
