<div class="row">
  <div class="col-sm-4">
    <img class="thumbnail tail_author_image" src="/assets/images/tristandavey_small.jpg" alt="Tristan Davey">
  </div>
  <div class="col-sm-8">
    <h2>About the Author</h2>
    <p>Tristan is a software engineer, free software advocate and small-time geek living in tropical northern Australia. By day he's a Senior Software Engineer making the world safer building world-leading occupational safety software at <a href="http://safetyculture.com.au">SafetyCulture</a>. In his own time he tinkers and toys with software, gardens on a small balcony and runs DevNQ.</p>
  </div>
</div>