@import "base.css";

header#masthead {
  background: transparent;
}

.entry-content {
	min-height: 200px;
}

.home .site-title {
  display: none;
}

.home .entry-content {
  min-height: 200px;
}

.home-block {
  margin: -100px auto 100px auto;
  position: fixed;
  height: 170px;
  top: 50%;
  left: 0;
  right: 0;
}

.home-title {
  text-align: center;
  text-transform: uppercase;
}

.home-title h1 {
  font-size: 20px;
  margin-bottom: 0;
}

.home-title .title .title-first {
  font-size: 300%;
  display: inline;
  font-weight: 300;
}

.home-title .title .title-last {
  margin-left: 20px;
  font-size: 300%;
  display: inline;
  font-weight: 300;
}

.home-sub .title-sub {
  position: relative;
	margin: 0 auto 4px auto;
  padding: 6px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.7);
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
	max-width: 430px;
	white-space: nowrap;
  color: #013356;
  background-color: #fff;
}

.home-sub .title-sub h2 {
  margin: 0;
  font-size: 26px;
  text-align: center;
}

.home-sub .title-sub:before, .home-sub .title-sub:after {
  position: absolute;
  height: 40px;
  display: block;
  content: "";
  width: 45px;
  border-top: 20px solid rgba(255, 255, 255, 0.8);
  border-bottom: 20px solid rgba(255, 255, 255, 0.8);
}

.home-sub .title-sub:before {
  left: -30px;
  top: 20px;
  border-right: 15px solid rgba(255, 255, 255, 0.6);
  border-left: 20px solid transparent;
}

.home-sub .title-sub:after {
  right: -30px;
  top: 20px;
  border-left: 15px solid rgba(255, 255, 255, 0.6);
  border-right: 20px solid transparent;
}

.home-sub .loc-sub {
  margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	font-size: 80%;
	letter-spacing: 10px;
	max-width: 430px;
	white-space: nowrap;
}

@media all and (max-height: 335px) {
  .home-block {
  	position: relative;
  	top: 67px;
  	left: 0;
  	right: 0;
	}
}

@media all and (max-width: 490px) {

  .home-title .title span.title-first, .home-title .title span.title-last {
    display: block;
    line-height: 90%;
    margin: 0;
  }

  .home-title .title .title-first {
    font-size: 240%;
    font-weight: 300;

  }

  .home-title .title .title-last {
    font-size: 300%;
    font-weight: 300;
  }

  .home-sub .title-sub {
    margin-top: 4px;
    width: 180px;
  }

  .home-sub .title-sub h2 {
    font-size: 11px;
  }

  .home-sub .title-sub:before, .home-sub .title-sub:after {
   	top: 10px;
    z-index: -1;
    height: 30px;
    border-top: 20px solid rgba(255, 255, 255, 0.8);
    border-bottom: 20px solid rgba(255, 255, 255, 0.8);
  }

  .home-sub .loc-sub {
  	letter-spacing: 5px;
  }

  .home-sub .loc-sub .text-deco, .home-sub .loc-sub .loc-sub-country, .home-sub .title-sub h2 .text-deco {
    display: none;
  }
}
