<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body vocab="http://schema.org/" typeof="WebPage">
    <div id="page" class="hfeed site">
	    <div class="wrap">
        {% include header.html %}
        <div id="primary" class="site-content light-block">
          <div id="main" class="site-main container" role="main">
            <article class="entry-content">
              <header class="entry-header">
                <h1 class="entry-title" property="name">
                  {{ page.title }}
                </h1>
              </header>

              <div class="entry-content" property="mainContentOfPage">
                {{content}}
              </div>
            </article>
          </div>
        </div>
        {% include footer.html %}
      </div>
    </div>
  </body>
  {% include foot.html %}
</html>